*{
    margin: 0;
}

body{
    background-color: rgb(240, 240, 240);
}

.nav-bar{
    display: flex;
    position: fixed;
    justify-content: space-around;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid;
    border: 2px;
    background:  linear-gradient(to right, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.nav-content{
    display: flex;
    align-items: center;
    /* margin: px; */
}

.logoframe{
    height: 30px;
    cursor: pointer;
}

.logo{
    height: 100%;
}

.section{
    display: flex;
    color: white;
    font-size: 12px;
    width: 700px;
    justify-content: space-evenly;
}

.sections{
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 70px;
    color: white;
    font-size: 12px;
}

.sections:hover{
    color: rgb(236, 141, 52);
}

.avatarframe{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 40px;
    cursor: pointer;
    border: 2px solid;
    border-color: white;
}

.avatar{
    height: 30px;
}

h1{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}
.main{
    /* display: flex; */
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
.banner{
    height: 380px;
    width: fit-content;
    display: flex;
    /* grid-template-columns: 320px 1fr; */
    justify-content: center;
    margin: 0 50px
}

.imagebox{
    width: 300px;
    height: 400px;
    justify-content: center;
    margin-top: 50px;
}

.me{
    width: 300px;
}

.h-text{
    color: white;
    margin-top: 160px;
    margin-left: 20px;
}

.headline{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: orange;
    font-size: 28px;
}

.sub-headline{
    width: 500px;
    font-size: 16px;
    margin-top: 10px;
}

button{
    margin-top: 30px;
    padding: 10px 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
}

.btn1{
    background-color: #ffffff00;
    border: solid 1px orange;
    color: orange;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn1:hover{
    background-color: orange;
    color: rgb(255, 255, 255);
}

.btn1:active{
        background-color: rgb(255, 190, 69);

}

.btn2{
    background-color: orange;
    border: none;
    color: rgb(255, 255, 255);
}

.btn2:hover{
    background-color: rgb(238, 155, 0);
}

.btn2:active{
    background-color: rgb(255, 190, 69);
}

.line{
    height: 8px;
    width: 50px;
    background-color: #ff0000;
    margin: 40px 0px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    justify-self: center;
    transition: 0.5s;
}

.line:hover{
    width: 100%;
    border-radius: 0;
}

.heading{
    font-size: 28px;
}

.container{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 90%;
    background-color: #fff;
    margin: 15px 15px;
    justify-self: center;


}
.project{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.project-card{
    height: 300px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.preview{
    background-color: orange;
    height: 80%;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 40px;
    cursor: pointer;
}

.p-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; /* unprefixed standard property for compatibility */
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectinfo{
    width: 400px;
    height: fit-content;
    justify-content: start;
    text-align: start;
    margin: 0;
}

.description{
    margin-top: 20px;
    height: 92px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5; /* unprefixed standard property for compatibility */
    overflow: hidden;
    text-overflow: ellipsis;
}

.about, .call{
    background-color: #fff;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}


.about{
    padding: 30px 0px;
}

.about .aboutme{
    margin-bottom: 20px;
}


.call{
    background: linear-gradient(to right, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
}

.about .details{
    width: 70%;
    justify-self: center;
    margin: 30px 0px;
}

.call .details{
    width: 70%;
    justify-self: center;
    margin: 30px 0px 20px 0px;
}

.footer{
    background-color: #252525;
    color: white;
    padding: 30px 0px;
    text-align: center;
}

.connect{
    margin-bottom: 10px;
}

.footer .p{
    /* margin: 10px 0px; */
}